################### BOARD #############################

BOARD_GRPC_HOST=board
BOARD_GRPC_PORT=50051
BOARD_GRPC_EXTERNAL_PORT=50051

BOARD_LOGGER_LEVEL=debug

POSTGRES_BOARD_HOST=postgres-board
POSTGRES_BOARD_PORT=5432
EXTERNAL_POSTGRES_BOARD_PORT=5435
POSTGRES_BOARD_USER=board_user
POSTGRES_BOARD_PASSWORD=board_password
POSTGRES_BOARD_DB=board
POSTGRES_BOARD_SSL_MODE=disable
MIGRATION_BOARD_DIRECTORY=./board/migrations

BOARD_CHECK_NOT_PROCESSED_TASKS_INTERVAL=30s
BOARD_CHECK_PROCESSED_TASKS_INTERVAL_LIMIT=5

################### GATEWAY ###########################

GATEWAY_HTTP_HOST=gateway
GATEWAY_HTTP_PORT=8080
GATEWAY_HTTP_EXTERNAL_PORT=8080
GATEWAY_HTTP_READ_TIMEOUT=5s

GATEWAY_LOGGER_LEVEL=debug

#################### AUTH #############################

AUTH_GRPC_HOST=auth
AUTH_GRPC_PORT=50052
AUTH_GRPC_EXTERNAL_PORT=50052

AUTH_LOGGER_LEVEL=debug

POSTGRES_AUTH_HOST=postgres-auth
POSTGRES_AUTH_PORT=5432
EXTERNAL_POSTGRES_AUTH_PORT=5436
POSTGRES_AUTH_USER=auth_user
POSTGRES_AUTH_PASSWORD=auth_password
POSTGRES_AUTH_DB=auth
POSTGRES_AUTH_SSL_MODE=disable
MIGRATION_AUTH_DIRECTORY=./auth/migrations

AUTH_JWT_ACCESS_TOKEN_TTL=24h
AUTH_JWT_ACCESS_TOKEN_SECRET=jwt-access-token-secret

################## NOTIFICATION ########################

NOTIFICATION_LOGGER_LEVEL=debug

#################### KAFKA #############################

KAFKA_EXTERNAL_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_CONTROLLER_PORT=29093
KAFKA_UI_PORT=8090

KAFKA_BROKERS=kafka:29092
TASK_CHANGED_TOPIC_NAME=task-changed
TASK_CHANGED_CONSUMER_GROUP_ID=task-changed-consumer